# Telegram Bot
BOT_TOKEN=8414611248:AAFrRRvJp1NVzAe-hz2Qi50CGNGVdf4vInE
ADMIN_IDS=941166187

# Database
DB_USER=autobot
DB_PASSWORD=StrongPassword123!
DB_NAME=auto_ads
DB_PORT=5432

# API
MINI_APP_URL=https://autoads.duckdns.org
API_URL=https://autoads.duckdns.org/api

# Redis
REDIS_URL=redis://redis:6379

# pgAdmin (optional)
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
